* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* When set, 1rem will become 10px */

  /* For usability, the above font-size value may not be advisable, so we use % instead */

  font-size: 62.5%;
  /* CALCULATION -->
  10px / 16px (default) = 0.625 = 62.5%
  This is the percentage of user's browser font-size setting */

  overflow-x: hidden;

  /* If you're focused on just Chrome and Firefox browsers, then you can just style the scroll effect here, without javascript.... But this does not work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/* Selecting every element to remove the focus point */
*:focus {
  outline: none;
  /* 
  You can use this
  outline: 4px dotted #e67e22;
  outline-offset: 8px; */

  /* But use this instead */
  box-shadow: 0 0 0 0.8rem rgba(231, 127, 35, 0.5);
}

/* GENERAL REUSABLE COMPONENTS */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.3rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem !important;
}

.btn--form:hover {
  background-color: #fff;
  color: #45260a;
}

.btn,
.btn:link,
.btn:visited {
  /* background-color: #e67e22; */
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.9rem;
  text-decoration: none;

  /* Only necessary for the .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Transition is always on the original state*/
  transition: all 0.3s;

  display: inline-block;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
  cursor: pointer;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  cursor: pointer;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.2rem;
  display: inline-block;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* LIST STYLE */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.8;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* HELPER/SETTING CLASSES */
strong {
  font-weight: 600;
}

.margin--bottom--md {
  margin-bottom: 4.8rem !important;
}

.center--text {
  text-align: center;
}

/* ---  REUSABLE GRID */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

/* 
You can use this as well; the grids that are the last-child will not inherit the margin-bottom  

.grid:last-child {
  margin-bottom: 0;
} */

/* If the are multipled stacked grids in a section, the last-child will inherit the margin-bottom */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* .grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
} */

.grid--center--v {
  align-items: center;
}
